@{
    ViewData["Title"] = "Авторизация";
}
@model LogViewer.Models.DataBase.Account

<h1 style="color:cornflowerblue; text-align:center">Вход в систему</h1>

<hr style="color:cornflowerblue" size="7" noshade />
<br />

<div class="center-content">
    <form method="post" asp-antiforgery="true">
        <strong><label asp-for="Login" style="color:cornflowerblue"></label></strong>
        <input asp-for="Login" placeholder="Логин" id="login" class="form-control form-control-lg"/>
        <strong><span asp-validation-for="Login" style="color:indianred"></span></strong>

        <br />

        <strong><label asp-for="Password" style="color:cornflowerblue"></label></strong>
        <input asp-for="Password" placeholder="Пароль" id="password" class="form-control form-control-lg"/>
        <strong><span asp-validation-for="Password" style="color:indianred"></span></strong>

        <br />

        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>

<br /> 
<hr style="color:cornflowerblue" size="7" noshade />


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>